:root {
  --base-font-family: Monaco, Menlo, Consolas, Inconsolata;
  --code-font-family: Monaco, Menlo, Consolas, Inconsolata;

  --highlightColor: #d22778;
}

@font-face {
  font-family: "Open Monaco";
  src: url('../fonts/Monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Monaco, 'Open Monaco', Menlo, Consolas, Inconsolata;
}

table {
  padding: 0;
  word-break: initial;
}
table tr {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n),
thead {
  background-color:#f2f2f2;
  
}
table th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}
table td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}
table th:first-child,
table td:first-child {
  margin-top: 0;
}
table th:last-child,
table td:last-child {
  margin-bottom: 0;
}


/* 重写docsify markdown的样式 */

.markdown-section a {
  text-decoration: unset;
}

.markdown-section a:hover {
  text-decoration: underline;
}

.markdown-section code,
.markdown-section output:after,
.markdown-section pre {
  font-family: Monaco, 'Open Monaco', Menlo;
}

.markdown-section pre {
  padding: 0;
  white-space: pre-wrap;
}

.markdown-section code {
  border-radius: 2px;
  color: var(--highlightColor);
  font-size: .9rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
  font-weight: 700;
}

.markdown-section table {
  display: table;
}

.markdown-section iframe {
  height: 200px;
  padding: 1.7rem 1.4rem;
}

.docsify-tabs__tab {
  font-family: Monaco, 'Open Monaco', Menlo, Consolas, Inconsolata;
}

/*------------*/
.no-suppot-h5 {
  color:  orange;
}

/* css文档的样式 */

.g-color-light {
  color: #C30;
}

.g-color-css3-change {
  color: #6a5acd !important;
}

.g-color-css3-new {
  color: #f60 !important;
}

/* 输出iframe的样式 */
.output-iframe {
  padding: 0 !important;
}
